@model UploadsViewModel;

<div class="row">
    <div class="col-md-8 offset-md-2 jumbotron">
        <h3>
            Thank you for uploading your image,
            here's the link to share with your friends:

            <br />
            <br />
                  <a href="http://localhost:36760/home/viewimage?id=@Model.ImageId">
                    http://localhost:36760/home/viewimage?id=@Model.ImageId
                  </a>
            <br />
            <br />

             The password is "@Model.Password"
        </h3>
    </div>
</div>
